
BNMUnityProject/.vs/

BNMUnityProject/Library/

BNMUnityProject/Logs/

BNMUnityProject/obj/

BNMUnityProject/UserSettings/

BNMUnityProject/Exercice1.sln

BNMUnityProject/Assembly-CSharp.csproj

BNMUnityProject/Builds/v1.apk
